{% extends "layout.html" %}
{% block content %}
    <h1>To do list</h1>

    <h2>Create a task <a href="{{ url_for('todo') }}">here</a></h2>
    <h3>List of Tasks: </h3>
    {% for task in tasks %}
        <!-- display tasks w/ check box for deletion -->
        <form action="{{ url_for('todo') }}" method="delete">
            <input type="checkbox" name="task" value="{{ task.task }}" />
            <label for="task">{{ task.task }}</label>
            <input type="submit" value="Delete" />
        </form>

    {% endfor %}

{% endblock %}
