{% extends "layout.html" %}
{% block content %}
    <h1>To do list</h1>

    <h2>Create a task <a href="{{ url_for('todo') }}">here</a></h2>
    <h3>List of Tasks: </h3>
    {% for task in tasks %}
        <p class="taskInfo"><strong>{{ loop.index }})</strong> Task: {{ task.task }}</p>
        <p class="taskInfo">Description: {{ task.description }}</p>
        <p class="taskInfo">Due Date: {{ task.due_date }}</p>
        <p class="taskInfo">Date created: {{ task.date}} </p>
    {% endfor %}

{% endblock %}
