<!DOCTYPE html>
<html>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Custom CSS declared here -->
<style>
  body {
    font-family: 'LosRes', sans-serif;
  }
</style>

<body class="container bg-dark text-white">

  <h1>Text-to-Image API </h1>

  <div class="Jumbotron">
    <p> Purpose of web application is generate an image when given text input.</p>

    <!-- Text box for user to paste text for gen_from_text in python flask routine -->
    <form action="/gen_from_text" method="post" class="m-2">
      <label for="text">Text Prompt:</label>
      <input type="text" id="text_prompt" name="text_prompt"><br><br>
      <input type="submit" value="Submit For Image">
    </form>

   <!-- Display images in grids -->
    <div class="row text-dark">
      {% for image in ai_images %}
        <div class="col-sm-6 p-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Image{{ loop.index }}</h5>
              <figure class="figure">
                <img src="{{ image[0] }}" class="figure-img img-fluid rounded" alt="ai_image">
                <figcaption class="figure-caption">Text Prompt: {{ image[1] }}</figcaption>
              <!-- Download image at URL -->
              <a href="{{ image[0] }}" download>Download Image</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>


</body>

</html>