
<!doctype html>
<html>
  <!-- Text box for user to paste text for gen_from_text in python flask routine -->
  <!-- <form action="/gen_from_text" method="POST" enctype="multipart/form-data"> -->
  <!--   <input type="text" name="text" placeholder="Enter text here"> -->
  <!--   <input type="submit" value="Submit">
  <!-- </form> -->
<h1>Text-to-Image API test</h1>

<p> Purpose of web application is generate an image when given text input.</p>

  <!-- Push submit to call gen_from_text in python flask routine -->
  <form action="/gen_from_text" method="POST" enctype="multipart/form-data">
    <input type="submit" value="Submit">
  </form>

</html>